ihc-openapi-api/src/main/resources/openapi.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:tns="utcs" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wpNS1="utcs.values" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="utcs" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema xmlns="http://www.w3.org/2001/XMLSchema" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="utcs">
      <xsd:import namespace="utcs.values" />
      <xsd:element name="waitForEvents1" nillable="true" type="xsd:int" />
      <xsd:complexType name="WSResourceValueEvent">
        <xsd:sequence>
          <xsd:element name="m_resourceID" type="xsd:int" />
          <xsd:element name="m_value" nillable="true" type="wpNS1:WSResourceValue" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ArrayOfWSResourceValueEvent">
        <xsd:sequence>
          <xsd:element maxOccurs="unbounded" name="arrayItem" nillable="true" type="tns:WSResourceValueEvent" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="WSEventPackage">
        <xsd:sequence>
          <xsd:element name="resourceValueEvents" nillable="true" type="tns:ArrayOfWSResourceValueEvent" />
          <xsd:element name="controllerExecutionRunning" type="xsd:boolean" />
          <xsd:element name="subscriptionAmount" type="xsd:int" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="waitForEvents2" nillable="true" type="tns:WSEventPackage" />
      <xsd:element name="enableSubscription1" nillable="true" type="xsd:ArrayOfint" />
      <xsd:element name="disableSubscription1" nillable="true" type="xsd:ArrayOfint" />
      <xsd:complexType name="WSDatalineResource">
        <xsd:sequence>
          <xsd:element name="resourceID" type="xsd:int" />
          <xsd:element name="datalineNumber" type="xsd:int" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ArrayOfWSDatalineResource">
        <xsd:sequence>
          <xsd:element maxOccurs="unbounded" name="arrayItem" nillable="true" type="tns:WSDatalineResource" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="getDatalineInputIDs1" nillable="true" type="tns:ArrayOfWSDatalineResource" />
      <xsd:element name="getDatalineOutputIDs1" nillable="true" type="tns:ArrayOfWSDatalineResource" />
      <xsd:element name="getUptime1" nillable="true" type="xsd:long" />
      <xsd:complexType name="WSVersionInfo">
        <xsd:sequence>
          <xsd:element name="majorVersion" type="xsd:int" />
          <xsd:element name="minorVersion" type="xsd:int" />
          <xsd:element name="buildVersion" type="xsd:int" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="getFWVersion1" nillable="true" type="tns:WSVersionInfo" />
      <xsd:element name="getAPIVersion1" nillable="true" type="xsd:int" />
      <xsd:complexType name="WSDate">
        <xsd:sequence>
          <xsd:element name="day" type="xsd:int" />
          <xsd:element name="monthWithJanuaryAsOne" type="xsd:int" />
          <xsd:element name="hours" type="xsd:int" />
          <xsd:element name="minutes" type="xsd:int" />
          <xsd:element name="seconds" type="xsd:int" />
          <xsd:element name="year" type="xsd:int" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="WSProjectInfo">
        <xsd:sequence>
          <xsd:element name="visualMinorVersion" type="xsd:int" />
          <xsd:element name="visualMajorVersion" type="xsd:int" />
          <xsd:element name="projectMajorRevision" type="xsd:int" />
          <xsd:element name="projectMinorRevision" type="xsd:int" />
          <xsd:element name="lastmodified" nillable="true" type="tns:WSDate" />
          <xsd:element name="projectNumber" type="xsd:string" />
          <xsd:element name="customerName" type="xsd:string" />
          <xsd:element name="installerName" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="getProjectInfo1" nillable="true" type="tns:WSProjectInfo" />
      <xsd:element name="getTime1" nillable="true" type="tns:WSDate" />
      <xsd:element name="getValues1" nillable="true" type="xsd:ArrayOfint" />
      <xsd:element name="getValues2" nillable="true" type="wpNS1:ArrayOfWSResourceValue" />
      <xsd:element name="authenticate1" nillable="true" type="xsd:string" />
      <xsd:element name="authenticate2" nillable="true" type="xsd:string" />
      <xsd:element name="authenticate3" nillable="true" type="xsd:boolean" />
      <xsd:element name="setValues1" nillable="true" type="tns:ArrayOfWSResourceValueEvent" />
      <xsd:element name="setValues2" nillable="true" type="xsd:boolean" />
    </xsd:schema>
    <xsd:schema xmlns="http://www.w3.org/2001/XMLSchema" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="utcs.values">
      <xsd:complexType name="WSResourceValue">
        <xsd:sequence />
      </xsd:complexType>
      <xsd:complexType name="ArrayOfWSResourceValue">
        <xsd:sequence>
          <xsd:element maxOccurs="unbounded" name="arrayItem" nillable="true" type="wpNS1:WSResourceValue" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="WSWeekdayValue">
        <xsd:complexContent mixed="false">
          <xsd:extension base="wpNS1:WSResourceValue">
            <xsd:sequence>
              <xsd:element name="weekdayNumber" type="xsd:int" />
            </xsd:sequence>
          </xsd:extension>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:complexType name="WSTimeValue">
        <xsd:complexContent mixed="false">
          <xsd:extension base="wpNS1:WSResourceValue">
            <xsd:sequence>
              <xsd:element name="hours" type="xsd:int" />
              <xsd:element name="minutes" type="xsd:int" />
              <xsd:element name="seconds" type="xsd:int" />
            </xsd:sequence>
          </xsd:extension>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:complexType name="WSTimerValue">
        <xsd:complexContent mixed="false">
          <xsd:extension base="wpNS1:WSResourceValue">
            <xsd:sequence>
              <xsd:element name="milliseconds" type="xsd:long" />
            </xsd:sequence>
          </xsd:extension>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:complexType name="WSSceneShutterSimpleValue">
        <xsd:complexContent mixed="false">
          <xsd:extension base="wpNS1:WSResourceValue">
            <xsd:sequence>
              <xsd:element name="delayTime" type="xsd:int" />
              <xsd:element name="shutterPositionIsUp" type="xsd:boolean" />
            </xsd:sequence>
          </xsd:extension>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:complexType name="WSSceneRelayValue">
        <xsd:complexContent mixed="false">
          <xsd:extension base="wpNS1:WSResourceValue">
            <xsd:sequence>
              <xsd:element name="delayTime" type="xsd:int" />
              <xsd:element name="relayValue" type="xsd:boolean" />
            </xsd:sequence>
          </xsd:extension>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:complexType name="WSSceneDimmerValue">
        <xsd:complexContent mixed="false">
          <xsd:extension base="wpNS1:WSResourceValue">
            <xsd:sequence>
              <xsd:element name="delayTime" type="xsd:int" />
              <xsd:element name="dimmerPercentage" type="xsd:int" />
              <xsd:element name="rampTime" type="xsd:int" />
            </xsd:sequence>
          </xsd:extension>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:complexType name="WSPhoneNumberValue">
        <xsd:complexContent mixed="false">
          <xsd:extension base="wpNS1:WSResourceValue">
            <xsd:sequence>
              <xsd:element name="number" type="xsd:string" />
            </xsd:sequence>
          </xsd:extension>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:complexType name="WSIntegerValue">
        <xsd:complexContent mixed="false">
          <xsd:extension base="wpNS1:WSResourceValue">
            <xsd:sequence>
              <xsd:element name="integer" type="xsd:int" />
              <xsd:element name="maximumValue" type="xsd:int" />
              <xsd:element name="minimumValue" type="xsd:int" />
            </xsd:sequence>
          </xsd:extension>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:complexType name="WSFloatingPointValue">
        <xsd:complexContent mixed="false">
          <xsd:extension base="wpNS1:WSResourceValue">
            <xsd:sequence>
              <xsd:element name="maximumValue" type="xsd:double" />
              <xsd:element name="minimumValue" type="xsd:double" />
              <xsd:element name="floatingPointValue" type="xsd:double" />
            </xsd:sequence>
          </xsd:extension>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:complexType name="WSEnumValue">
        <xsd:complexContent mixed="false">
          <xsd:extension base="wpNS1:WSResourceValue">
            <xsd:sequence>
              <xsd:element name="definitionTypeID" type="xsd:int" />
              <xsd:element name="enumValueID" type="xsd:int" />
              <xsd:element name="enumName" type="xsd:string" />
            </xsd:sequence>
          </xsd:extension>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:complexType name="WSDateValue">
        <xsd:complexContent mixed="false">
          <xsd:extension base="wpNS1:WSResourceValue">
            <xsd:sequence>
              <xsd:element name="day" type="xsd:byte" />
              <xsd:element name="month" type="xsd:byte" />
              <xsd:element name="year" type="xsd:short" />
            </xsd:sequence>
          </xsd:extension>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:complexType name="WSBooleanValue">
        <xsd:complexContent mixed="false">
          <xsd:extension base="wpNS1:WSResourceValue">
            <xsd:sequence>
              <xsd:element name="value" type="xsd:boolean" />
            </xsd:sequence>
          </xsd:extension>
        </xsd:complexContent>
      </xsd:complexType>
    </xsd:schema>
    <xsd:schema xmlns="http://www.w3.org/2001/XMLSchema" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://www.w3.org/2001/XMLSchema">
      <xsd:complexType name="ArrayOfint">
        <xsd:sequence>
          <xsd:element maxOccurs="unbounded" name="arrayItem" type="xsd:int" />
        </xsd:sequence>
      </xsd:complexType>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="waitForEventsRequest">
    <wsdl:part name="parameter1" element="tns:waitForEvents1" />
  </wsdl:message>
  <wsdl:message name="waitForEventsResponse">
    <wsdl:part name="return" element="tns:waitForEvents2" />
  </wsdl:message>
  <wsdl:message name="enableSubscriptionRequest">
    <wsdl:part name="parameter2" element="tns:enableSubscription1" />
  </wsdl:message>
  <wsdl:message name="enableSubscriptionResponse" />
  <wsdl:message name="disableSubscriptionRequest">
    <wsdl:part name="parameter3" element="tns:disableSubscription1" />
  </wsdl:message>
  <wsdl:message name="disableSubscriptionResponse" />
  <wsdl:message name="getDatalineInputIDsRequest" />
  <wsdl:message name="getDatalineInputIDsResponse">
    <wsdl:part name="return" element="tns:getDatalineInputIDs1" />
  </wsdl:message>
  <wsdl:message name="getDatalineOutputIDsRequest" />
  <wsdl:message name="getDatalineOutputIDsResponse">
    <wsdl:part name="return" element="tns:getDatalineOutputIDs1" />
  </wsdl:message>
  <wsdl:message name="getUptimeRequest" />
  <wsdl:message name="getUptimeResponse">
    <wsdl:part name="return" element="tns:getUptime1" />
  </wsdl:message>
  <wsdl:message name="pingRequest" />
  <wsdl:message name="pingResponse" />
  <wsdl:message name="getFWVersionRequest" />
  <wsdl:message name="getFWVersionResponse">
    <wsdl:part name="return" element="tns:getFWVersion1" />
  </wsdl:message>
  <wsdl:message name="getAPIVersionRequest" />
  <wsdl:message name="getAPIVersionResponse">
    <wsdl:part name="return" element="tns:getAPIVersion1" />
  </wsdl:message>
  <wsdl:message name="getProjectInfoRequest" />
  <wsdl:message name="getProjectInfoResponse">
    <wsdl:part name="return" element="tns:getProjectInfo1" />
  </wsdl:message>
  <wsdl:message name="getTimeRequest" />
  <wsdl:message name="getTimeResponse">
    <wsdl:part name="return" element="tns:getTime1" />
  </wsdl:message>
  <wsdl:message name="getValuesRequest">
    <wsdl:part name="parameter4" element="tns:getValues1" />
  </wsdl:message>
  <wsdl:message name="getValuesResponse">
    <wsdl:part name="return" element="tns:getValues2" />
  </wsdl:message>
  <wsdl:message name="authenticateRequest">
    <wsdl:part name="parameter5" element="tns:authenticate1" />
    <wsdl:part name="parameter6" element="tns:authenticate2" />
  </wsdl:message>
  <wsdl:message name="authenticateResponse">
    <wsdl:part name="return" element="tns:authenticate3" />
  </wsdl:message>
  <wsdl:message name="setValuesRequest">
    <wsdl:part name="parameter7" element="tns:setValues1" />
  </wsdl:message>
  <wsdl:message name="setValuesResponse">
    <wsdl:part name="return" element="tns:setValues2" />
  </wsdl:message>
  <wsdl:portType name="OpenAPIService">
    <wsdl:operation name="waitForEvents">
      <wsdl:input name="inputMessageName1" message="tns:waitForEventsRequest" />
      <wsdl:output name="outputMessageName1" message="tns:waitForEventsResponse" />
    </wsdl:operation>
    <wsdl:operation name="enableSubscription">
      <wsdl:input name="inputMessageName2" message="tns:enableSubscriptionRequest" />
      <wsdl:output name="outputMessageName2" message="tns:enableSubscriptionResponse" />
    </wsdl:operation>
    <wsdl:operation name="disableSubscription">
      <wsdl:input name="inputMessageName3" message="tns:disableSubscriptionRequest" />
      <wsdl:output name="outputMessageName3" message="tns:disableSubscriptionResponse" />
    </wsdl:operation>
    <wsdl:operation name="getDatalineInputIDs">
      <wsdl:input name="inputMessageName4" message="tns:getDatalineInputIDsRequest" />
      <wsdl:output name="outputMessageName4" message="tns:getDatalineInputIDsResponse" />
    </wsdl:operation>
    <wsdl:operation name="getDatalineOutputIDs">
      <wsdl:input name="inputMessageName5" message="tns:getDatalineOutputIDsRequest" />
      <wsdl:output name="outputMessageName5" message="tns:getDatalineOutputIDsResponse" />
    </wsdl:operation>
    <wsdl:operation name="getUptime">
      <wsdl:input name="inputMessageName6" message="tns:getUptimeRequest" />
      <wsdl:output name="outputMessageName6" message="tns:getUptimeResponse" />
    </wsdl:operation>
    <wsdl:operation name="ping">
      <wsdl:input name="inputMessageName7" message="tns:pingRequest" />
      <wsdl:output name="outputMessageName7" message="tns:pingResponse" />
    </wsdl:operation>
    <wsdl:operation name="getFWVersion">
      <wsdl:input name="inputMessageName8" message="tns:getFWVersionRequest" />
      <wsdl:output name="outputMessageName8" message="tns:getFWVersionResponse" />
    </wsdl:operation>
    <wsdl:operation name="getAPIVersion">
      <wsdl:input name="inputMessageName9" message="tns:getAPIVersionRequest" />
      <wsdl:output name="outputMessageName9" message="tns:getAPIVersionResponse" />
    </wsdl:operation>
    <wsdl:operation name="getProjectInfo">
      <wsdl:input name="inputMessageName10" message="tns:getProjectInfoRequest" />
      <wsdl:output name="outputMessageName10" message="tns:getProjectInfoResponse" />
    </wsdl:operation>
    <wsdl:operation name="getTime">
      <wsdl:input name="inputMessageName11" message="tns:getTimeRequest" />
      <wsdl:output name="outputMessageName11" message="tns:getTimeResponse" />
    </wsdl:operation>
    <wsdl:operation name="getValues">
      <wsdl:input name="inputMessageName12" message="tns:getValuesRequest" />
      <wsdl:output name="outputMessageName12" message="tns:getValuesResponse" />
    </wsdl:operation>
    <wsdl:operation name="authenticate">
      <wsdl:input name="inputMessageName13" message="tns:authenticateRequest" />
      <wsdl:output name="outputMessageName13" message="tns:authenticateResponse" />
    </wsdl:operation>
    <wsdl:operation name="setValues">
      <wsdl:input name="inputMessageName14" message="tns:setValuesRequest" />
      <wsdl:output name="outputMessageName14" message="tns:setValuesResponse" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="OpenAPIServiceBinding" type="tns:OpenAPIService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="waitForEvents">
      <soap:operation soapAction="waitForEvents" style="document" />
      <wsdl:input name="inputMessageName1">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="outputMessageName1">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="enableSubscription">
      <soap:operation soapAction="enableSubscription" style="document" />
      <wsdl:input name="inputMessageName2">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="outputMessageName2">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="disableSubscription">
      <soap:operation soapAction="disableSubscription" style="document" />
      <wsdl:input name="inputMessageName3">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="outputMessageName3">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getDatalineInputIDs">
      <soap:operation soapAction="getDatalineInputIDs" style="document" />
      <wsdl:input name="inputMessageName4">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="outputMessageName4">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getDatalineOutputIDs">
      <soap:operation soapAction="getDatalineOutputIDs" style="document" />
      <wsdl:input name="inputMessageName5">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="outputMessageName5">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getUptime">
      <soap:operation soapAction="getUptime" style="document" />
      <wsdl:input name="inputMessageName6">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="outputMessageName6">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ping">
      <soap:operation soapAction="ping" style="document" />
      <wsdl:input name="inputMessageName7">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="outputMessageName7">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getFWVersion">
      <soap:operation soapAction="getFWVersion" style="document" />
      <wsdl:input name="inputMessageName8">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="outputMessageName8">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAPIVersion">
      <soap:operation soapAction="getAPIVersion" style="document" />
      <wsdl:input name="inputMessageName9">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="outputMessageName9">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getProjectInfo">
      <soap:operation soapAction="getProjectInfo" style="document" />
      <wsdl:input name="inputMessageName10">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="outputMessageName10">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getTime">
      <soap:operation soapAction="getTime" style="document" />
      <wsdl:input name="inputMessageName11">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="outputMessageName11">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getValues">
      <soap:operation soapAction="getValues" style="document" />
      <wsdl:input name="inputMessageName12">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="outputMessageName12">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="authenticate">
      <soap:operation soapAction="authenticate" style="document" />
      <wsdl:input name="inputMessageName13">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="outputMessageName13">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="setValues">
      <soap:operation soapAction="setValues" style="document" />
      <wsdl:input name="inputMessageName14">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="outputMessageName14">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="OpenAPIServiceService">
    <wsdl:port name="OpenAPIServiceBindingPort" binding="tns:OpenAPIServiceBinding">
      <soap:address location="http://localhost/OpenAPIService" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>